/* # ========== Generic */
.toth-body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

/* # ========== Header */
.toth-navbar {
  background: #f1f1f1;
  float: left;
  width: 20%;
  position: fixed;
}

.toth-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  position: relative;
  height: 100vh;
  overflow: auto;
}

.toth-navbar-brand {
  display: block;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  color: #444;
  background: #f1f1f1;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.toth-navigation-link {
  padding: 5px 15px;
  display: block;
  color: #222;
}

.toth-guide-body {
  margin-left: 25%;
  float: left;
  width: 70%;
}

/* # ========== Color palette */

.toth-color-grid {
  font-size: 0;
  margin: 0 -5px;
}

.toth-color-item {
  display: inline-block;
  padding: 0 5px;
  width: 20%;;
  vertical-align: top;
  margin-bottom: 10px;
}

.toth-color-palette {
  border: 2px solid #f1f1f1;
  padding: 10px;
  font-size: 1rem;
  position: relative;
  height: 100px;;
}

.toth-color-text {
  background: #f1f1f1;
  color: #222;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .toth-color-item {
    width: 33.333333%;
  }
}

@media screen and (max-width: 600px) {
  .toth-color-item {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .toth-color-item {
    width: 100%;
  }
}

/* # ========== Loader */

.toth-loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f1f1f1;
  z-index: 9000;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}

.toth-loader.is-open {
  opacity: 1;
  visibility: visible;
}

.toth-loader-text {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
}

.toth-loader-spinner {
  height: 40px;;
  width: 40px;
  position: relative;
  display: inline-block;
}

.toth-loader-spinner span {
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
}

.top-left {
  top: 0;
  left: 0;
  background: #D91E18;
  animation: one 1s linear infinite;
}

.top-right {
  top: 0;
  right: 0;
  background: #F4D03F;
  animation: two 1s linear infinite;
}

.bot-left {
  bottom: 0;
  left: 0;
  background: #87D37C;
  animation: three 1s linear infinite;
}

.bot-right {
  bottom: 0;
  right: 0;
  background: #4183D7;
  animation: four 2s linear infinite;
}

@keyframes one {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50%, 75%, 100% {
    opacity: 0;
  }
}

@keyframes two {
  0%, 25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75%, 100% {
    opacity: 0;
  }
}

@keyframes three {
  0%, 25%, 50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes four {
  0%, 25%, 50%, 75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
