/* # ========== Generic */
.toth-body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

/* # ========== Header */
.toth-navbar {
  background: #f1f1f1;
  float: left;
  width: 20%;
  position: fixed;
}

.toth-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  position: relative;
  height: 100vh;
  overflow: auto;
}

.toth-navbar-brand {
  display: block;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  color: #444;
  background: #f1f1f1;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.toth-navigation-link {
  padding: 5px 15px;
  display: block;
  color: #222;
}

.toth-guide-body {
  margin-left: 25%;
  float: left;
  width: 70%;
}

/* # ========== Color palette */

.toth-color-grid {
  font-size: 0;
  margin: 0 -5px;
}

.toth-color-item {
  display: inline-block;
  padding: 0 5px;
  width: 20%;;
  vertical-align: top;
  margin-bottom: 10px;
}

.toth-color-palette {
  border: 2px solid #f1f1f1;
  padding: 10px;
  font-size: 1rem;
  position: relative;
  height: 100px;;
}

.toth-color-text {
  background: #f1f1f1;
  color: #222;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .toth-color-item {
    width: 33.333333%;
  }
}

@media screen and (max-width: 600px) {
  .toth-color-item {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .toth-color-item {
    width: 100%;
  }
}

